<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>name</key>
		<string>barbarian</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>bash</string>
				<key>type</key>
				<string>primary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>cleave</string>
				<key>type</key>
				<string>primary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>frenzy</string>
				<key>type</key>
				<string>primary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>weapon-throw</string>
				<key>type</key>
				<string>primary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>hammer-of-the-ancients</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>rend</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>seismic-slam</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>whirlwind</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ancient-spear</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
			<dict>
				<key>name</key>
				<string>ground-stomp</string>
				<key>type</key>
				<string>defensive</string>
			</dict>
            <dict>
                <key>name</key>
                <string>leap</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>sprint</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>ignore-pain</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
			<dict>
				<key>name</key>
				<string>overpower</string>
				<key>type</key>
				<string>might</string>
			</dict>
            <dict>
                <key>name</key>
                <string>revenge</string>
                <key>type</key>
                <string>might</string>
            </dict>
            <dict>
                <key>name</key>
                <string>furious-charge</string>
                <key>type</key>
                <string>might</string>
            </dict>
            <dict>
                <key>name</key>
                <string>avalanche</string>
                <key>type</key>
                <string>might</string>
            </dict>
			<dict>
				<key>name</key>
				<string>threatening-shout</string>
				<key>type</key>
				<string>tactics</string>
			</dict>
            <dict>
                <key>name</key>
                <string>battle-rage</string>
                <key>type</key>
                <string>tactics</string>
            </dict>
            <dict>
                <key>name</key>
                <string>war-cry</string>
                <key>type</key>
                <string>tactics</string>
            </dict>
			<dict>
				<key>name</key>
				<string>earthquake</string>
				<key>type</key>
				<string>rage</string>
			</dict>
            <dict>
                <key>name</key>
                <string>call-of-the-ancients</string>
                <key>type</key>
                <string>rage</string>
            </dict>
            <dict>
                <key>name</key>
                <string>wrath-of-the-berserker</string>
                <key>type</key>
                <string>rage</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>crusader</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>punish</string>
				<key>type</key>
				<string>primary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>slash</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>smite</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>justice</string>
                <key>type</key>
                <string>primary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>shield-bash</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>sweep-attack</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>blessed-hammer</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>blessed-shield</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>fist-of-the-heavens</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>shield-glare</string>
				<key>type</key>
				<string>defensive</string>
			</dict>
            <dict>
                <key>name</key>
                <string>iron-skin</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>consecration</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>judgment</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
			<dict>
				<key>name</key>
				<string>provoke</string>
				<key>type</key>
				<string>utility</string>
			</dict>
            <dict>
                <key>name</key>
                <string>steed-charge</string>
                <key>type</key>
                <string>utility</string>
            </dict>
            <dict>
                <key>name</key>
                <string>condemn</string>
                <key>type</key>
                <string>utility</string>
            </dict>
            <dict>
                <key>name</key>
                <string>phalanx</string>
                <key>type</key>
                <string>utility</string>
            </dict>
			<dict>
				<key>name</key>
				<string>laws-of-valor</string>
				<key>type</key>
				<string>laws</string>
			</dict>
            <dict>
                <key>name</key>
                <string>laws-of-justice</string>
                <key>type</key>
                <string>laws</string>
            </dict>
            <dict>
                <key>name</key>
                <string>laws-of-hope</string>
                <key>type</key>
                <string>laws</string>
            </dict>
			<dict>
				<key>name</key>
				<string>falling-sword</string>
				<key>type</key>
				<string>conviction</string>
			</dict>
            <dict>
                <key>name</key>
                <string>akarats-champion</string>
                <key>type</key>
                <string>conviction</string>
            </dict>
            <dict>
                <key>name</key>
                <string>heavens-fury</string>
                <key>type</key>
                <string>conviction</string>
            </dict>
            <dict>
                <key>name</key>
                <string>bombardment</string>
                <key>type</key>
                <string>conviction</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>demon-hunter</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>hungering-arrow</string>
				<key>type</key>
				<string>primary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>entangling-shot</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>bolas</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>evasive-fire</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>grenade</string>
                <key>type</key>
                <string>primary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>impale</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>rapid-fire</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>chakram</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>elemental-arrow</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>caltrops</string>
				<key>type</key>
				<string>defensive</string>
			</dict>
            <dict>
                <key>name</key>
                <string>smoke-screen</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>shadow-power</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
			<dict>
				<key>name</key>
				<string>vault</string>
				<key>type</key>
				<string>hunting</string>
			</dict>
            <dict>
                <key>name</key>
                <string>preparation</string>
                <key>type</key>
                <string>hunting</string>
            </dict>
            <dict>
                <key>name</key>
                <string>companion</string>
                <key>type</key>
                <string>hunting</string>
            </dict>
            <dict>
                <key>name</key>
                <string>marked-for-death</string>
                <key>type</key>
                <string>hunting</string>
            </dict>
			<dict>
				<key>name</key>
				<string>fan-of-knives</string>
				<key>type</key>
				<string>devices</string>
			</dict>
            <dict>
                <key>name</key>
                <string>spike-trap</string>
                <key>type</key>
                <string>devices</string>
            </dict>
            <dict>
                <key>name</key>
                <string>sentry</string>
                <key>type</key>
                <string>devices</string>
            </dict>
            <dict>
                <key>name</key>
                <string>vengeance</string>
                <key>type</key>
                <string>devices</string>
            </dict>
			<dict>
				<key>name</key>
				<string>strafe</string>
				<key>type</key>
				<string>archery</string>
			</dict>
            <dict>
                <key>name</key>
                <string>multishot</string>
                <key>type</key>
                <string>archery</string>
            </dict>
            <dict>
                <key>name</key>
                <string>cluster-arrow</string>
                <key>type</key>
                <string>archery</string>
            </dict>
            <dict>
                <key>name</key>
                <string>rain-of-vengeance</string>
                <key>type</key>
                <string>archery</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>monk</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>fists-of-thunder</string>
				<key>type</key>
				<string>primary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>deadly-reach</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>crippling-wave</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>way-of-the-hundred-fists</string>
                <key>type</key>
                <string>primary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>lashing-tail-kick</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>tempest-rush</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>wave-of-light</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>blinding-flash</string>
				<key>type</key>
				<string>defensive</string>
			</dict>
            <dict>
                <key>name</key>
                <string>breath-of-heaven</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>serenity</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>inner-sanctuary</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
			<dict>
				<key>name</key>
				<string>dashing-strike</string>
				<key>type</key>
				<string>techniques</string>
			</dict>
            <dict>
                <key>name</key>
                <string>exploding-palm</string>
                <key>type</key>
                <string>techniques</string>
            </dict>
            <dict>
                <key>name</key>
                <string>sweeping-wind</string>
                <key>type</key>
                <string>techniques</string>
            </dict>
			<dict>
				<key>name</key>
				<string>cyclone-strike</string>
				<key>type</key>
				<string>focus</string>
			</dict>
            <dict>
                <key>name</key>
                <string>sevensided-strike</string>
                <key>type</key>
                <string>focus</string>
            </dict>
            <dict>
                <key>name</key>
                <string>mystic-ally</string>
                <key>type</key>
                <string>focus</string>
            </dict>
            <dict>
                <key>name</key>
                <string>epiphany</string>
                <key>type</key>
                <string>focus</string>
            </dict>
			<dict>
				<key>name</key>
				<string>mantra-of-salvation</string>
				<key>type</key>
				<string>mantras</string>
			</dict>
            <dict>
                <key>name</key>
                <string>mantra-of-retribution</string>
                <key>type</key>
                <string>mantras</string>
            </dict>
            <dict>
                <key>name</key>
                <string>mantra-of-healing</string>
                <key>type</key>
                <string>mantras</string>
            </dict>
            <dict>
                <key>name</key>
                <string>mantra-of-conviction</string>
                <key>type</key>
                <string>mantras</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>necromancer</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>bone-spikes</string>
				<key>type</key>
				<string>primary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>grim-scythe</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>siphon-blood</string>
                <key>type</key>
                <string>primary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>bone-spear</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>skeletal-mage</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>death-nova</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>corpse-explosion</string>
				<key>type</key>
				<string>corpses</string>
			</dict>
            <dict>
                <key>name</key>
                <string>corpse-lance</string>
                <key>type</key>
                <string>corpses</string>
            </dict>
            <dict>
                <key>name</key>
                <string>devour</string>
                <key>type</key>
                <string>corpses</string>
            </dict>
            <dict>
                <key>name</key>
                <string>revive</string>
                <key>type</key>
                <string>corpses</string>
            </dict>
			<dict>
				<key>name</key>
				<string>command-skeletons</string>
				<key>type</key>
				<string>reanimation</string>
			</dict>
            <dict>
                <key>name</key>
                <string>command-golem</string>
                <key>type</key>
                <string>reanimation</string>
            </dict>
            <dict>
                <key>name</key>
                <string>army-of-the-dead</string>
                <key>type</key>
                <string>reanimation</string>
            </dict>
            <dict>
                <key>name</key>
                <string>land-of-the-dead</string>
                <key>type</key>
                <string>reanimation</string>
            </dict>
			<dict>
				<key>name</key>
				<string>decrepify</string>
				<key>type</key>
				<string>curses</string>
			</dict>
            <dict>
                <key>name</key>
                <string>leech</string>
                <key>type</key>
                <string>curses</string>
            </dict>
            <dict>
                <key>name</key>
                <string>frailty</string>
                <key>type</key>
                <string>curses</string>
            </dict>
			<dict>
				<key>name</key>
				<string>bone-armor</string>
				<key>type</key>
				<string>blood-bone</string>
			</dict>
            <dict>
                <key>name</key>
                <string>bone-spirit</string>
                <key>type</key>
                <string>blood-bone</string>
            </dict>
            <dict>
                <key>name</key>
                <string>blood-rush</string>
                <key>type</key>
                <string>blood-bone</string>
            </dict>
            <dict>
                <key>name</key>
                <string>simulacrum</string>
                <key>type</key>
                <string>blood-bone</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>witch-doctor</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>poison-dart</string>
				<key>type</key>
				<string>primary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>corpse-spiders</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>plague-of-toads</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>firebomb</string>
                <key>type</key>
                <string>primary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>grasp-of-the-dead</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>firebats</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>haunt</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>locust-swarm</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>summon-zombie-dogs</string>
				<key>type</key>
				<string>defensive</string>
			</dict>
            <dict>
                <key>name</key>
                <string>horrify</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>spirit-walk</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>hex</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
			<dict>
				<key>name</key>
				<string>soul-harvest</string>
				<key>type</key>
				<string>terror</string>
			</dict>
            <dict>
                <key>name</key>
                <string>sacrifice</string>
                <key>type</key>
                <string>terror</string>
            </dict>
            <dict>
                <key>name</key>
                <string>mass-confusion</string>
                <key>type</key>
                <string>terror</string>
            </dict>
			<dict>
				<key>name</key>
				<string>zombie-charger</string>
				<key>type</key>
				<string>decay</string>
			</dict>
            <dict>
                <key>name</key>
                <string>spirit-barrage</string>
                <key>type</key>
                <string>decay</string>
            </dict>
            <dict>
                <key>name</key>
                <string>acid-cloud</string>
                <key>type</key>
                <string>decay</string>
            </dict>
            <dict>
                <key>name</key>
                <string>wall-of-death</string>
                <key>type</key>
                <string>decay</string>
            </dict>
            <dict>
                <key>name</key>
                <string>piranhas</string>
                <key>type</key>
                <string>decay</string>
            </dict>
			<dict>
				<key>name</key>
				<string>gargantuan</string>
				<key>type</key>
				<string>voodoo</string>
			</dict>
            <dict>
                <key>name</key>
                <string>big-bad-voodoo</string>
                <key>type</key>
                <string>voodoo</string>
            </dict>
            <dict>
                <key>name</key>
                <string>fetish-army</string>
                <key>type</key>
                <string>voodoo</string>
            </dict>
		</array>
	</dict>
	<dict>
		<key>name</key>
		<string>wizard</string>
		<key>skills</key>
		<array>
			<dict>
				<key>name</key>
				<string>magic-missile</string>
				<key>type</key>
				<string>primary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>shock-pulse</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>spectral-blade</string>
                <key>type</key>
                <string>primary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>electrocute</string>
                <key>type</key>
                <string>primary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>ray-of-frost</string>
				<key>type</key>
				<string>secondary</string>
			</dict>
            <dict>
                <key>name</key>
                <string>arcane-orb</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>arcane-torrent</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
            <dict>
                <key>name</key>
                <string>disintegrate</string>
                <key>type</key>
                <string>secondary</string>
            </dict>
			<dict>
				<key>name</key>
				<string>frost-nova</string>
				<key>type</key>
				<string>defensive</string>
			</dict>
            <dict>
                <key>name</key>
                <string>diamond-skin</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>slow-time</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
            <dict>
                <key>name</key>
                <string>teleport</string>
                <key>type</key>
                <string>defensive</string>
            </dict>
			<dict>
				<key>name</key>
				<string>wave-of-force</string>
				<key>type</key>
				<string>force</string>
			</dict>
            <dict>
                <key>name</key>
                <string>energy-twister</string>
                <key>type</key>
                <string>force</string>
            </dict>
            <dict>
                <key>name</key>
                <string>hydra</string>
                <key>type</key>
                <string>force</string>
            </dict>
            <dict>
                <key>name</key>
                <string>meteor</string>
                <key>type</key>
                <string>force</string>
            </dict>
            <dict>
                <key>name</key>
                <string>blizzard</string>
                <key>type</key>
                <string>force</string>
            </dict>
			<dict>
				<key>name</key>
				<string>ice-armor</string>
				<key>type</key>
				<string>conjuration</string>
			</dict>
            <dict>
                <key>name</key>
                <string>storm-armor</string>
                <key>type</key>
                <string>conjuration</string>
            </dict>
            <dict>
                <key>name</key>
                <string>magic-weapon</string>
                <key>type</key>
                <string>conjuration</string>
            </dict>
            <dict>
                <key>name</key>
                <string>familiar</string>
                <key>type</key>
                <string>conjuration</string>
            </dict>
            <dict>
                <key>name</key>
                <string>energy-armor</string>
                <key>type</key>
                <string>conjuration</string>
            </dict>
			<dict>
				<key>name</key>
				<string>explosive-blast</string>
				<key>type</key>
				<string>mastery</string>
			</dict>
            <dict>
                <key>name</key>
                <string>mirror-image</string>
                <key>type</key>
                <string>mastery</string>
            </dict>
            <dict>
                <key>name</key>
                <string>archon</string>
                <key>type</key>
                <string>mastery</string>
            </dict>
            <dict>
                <key>name</key>
                <string>black-hole</string>
                <key>type</key>
                <string>mastery</string>
            </dict>
		</array>
	</dict>
</array>
</plist>
